.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.button {
	background-color: white;
  border-color: aliceblue;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}

.left {
	float: left;
	margin-left: 10%;
}

.right {
	float: right;
	margin-right: 10%;
}

.button:hover {
  background-color: #2196F3;
}

.component {
  border-color: #ccc;
  border-radius: 5px;
  border-style: solid;
  display: inline-block;
  margin: 20px;
  padding: 20px;
  vertical-align: top;
}

.header {
  margin: 15px;
  overflow: hidden;
}

.headerImage {
  float: right;
  height: 75px;
  vertical-align: top;
}
