.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.button {
  border-color: #888;
  border-radius: 5px;
  border-style: solid;
  border-width: 3px;
  font-size: 18px;
  margin: 5px;
}

.button:hover {
  background-color: #2196F3;
}

.component {
  border-color: #ccc;
  border-radius: 5px;
  border-style: solid;
  display: inline-block;
  margin: 20px;
  padding: 20px;
  vertical-align: top;
}
